
.container {
    background-color: white;    
    border: 1px solid #d7d6d6;
    padding: 1rem;
    margin-bottom: 1rem;

}

.footnote-links {
    color: grey;
    text-decoration: none;
    font-size: 1rem;
}

.footnote-links:hover {
    color: #3a8ddb;
    text-decoration: underline;

}


.fa-check {
    color: #40b401;
}

.green {
    color: #40b401;
}



.bg-green {
    background-color: #40b401;
    color: white;
    width: 1.8rem;
    padding: 0 0 0 0.2rem
    

}

.bg-yellow {
    background-color: #f0da91;
}

.text-grey {
    color : grey;
}

.input1 {
    border: 1px solid #fbd451d4
    
}
.year-warranty {
    background-color: #fbd451d4;
    /* padding: 0.25rem 0.5rem; */
    position: absolute;
    right: 0.75rem;
}

a {
    text-decoration: none;
    
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.container2 {
    background-color: gainsboro;
    border: none;
    padding: 1rem 0;
    

}

.container3 {
    background-color: gainsboro;
    border: none;
    padding: 1rem 0;
    font-size: 0.8rem;
    

}

.brands {
    overflow-x: scroll;  
    
    
    white-space: nowrap;


}

::-webkit-scrollbar {
    display: none;
}

.fomt-small {
    font-size: 0.85rem;
}

.stars {
    color: goldenrod;
}


.rate-btn {
    color: grey;
}

.advanced {
    color: blue;
    text-decoration: underline;
}

.tyres:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

}



.black {
    color: black;
   
}
.capitalize {
    text-transform: uppercase;
    
}
.hover-black:hover {
    color: black

}

#navbarDropdown:hover {
    /* text-decoration: underline rgb(195, 24, 24); */

    box-shadow: 0 1px 0 0 #ff6347; 

    
}

.reviews {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}


.card-links {
    
   
    text-decoration: none;

}

.bigger {
    font-size: 1rem;
}




.tyres {
    width: 100%;
    margin-top: 1rem;
}

.review-cards {
    width: 50%;
    height: 400px;
    
}

.shop-images {
    width: 350px;

}



.navbar-container {
    border: 1px solid gainsboro;
   
}


@media (min-width: 769px) { 
  

    .review-cards {
        width: 350px;
        height: 120px;
        text-overflow: ellipsis;
    }

    .shop-images {
       width:  650px;
    }

    .review-para {
        height: 150px;
        width: 320px
    }

    .navbar-size {
        width: 90%;
    } 

    

 
}

.all-links {
    color: grey;
    text-decoration: none;
    font-size: 1rem;
}


.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-size {
    width: 100%;
}


.dropdown-menu {
    transition: all 1s ease;
}

.navbar-nav .dropdown-toggle::after {
    display:none;
}

.relative {
    position: relative;

}

