body {
    background-color: gainsboro;
}

.container {
    background-color: white;    
    border: 1px solid rgb(215, 214, 214);
    padding: 1rem
}


.fa-check {
    color: rgb(64, 180, 1);
}

.green {
    color: rgb(64, 180, 1);
}

.bg-green {
    background-color: rgb(64, 180, 1);
    color: white;
    width: 1.8rem;
    padding: 0 0 0 0.2rem
    

}

.bg-yellow {
    background-color: rgb(240, 218, 145);
}

.text-grey {
    color : grey
}

.input1 {
    border: 1px solid rgba(251, 212, 81, 0.832)
    
}

a {
    text-decoration: none;
    color: grey;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.container2 {
    background-color: gainsboro;
    border: none;
    padding: 1rem 0;

}

.brands {
    overflow-x: scroll;  
    
    
    white-space: nowrap;


}

::-webkit-scrollbar {
    display: none;
}

.fomt-small {
    font-size: 0.85rem;
}

.stars {
    color: goldenrod;
}


.rate-btn {
    color: grey;
}

.advanced {
    color: blue;
    text-decoration: underline;
}

.tyres:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

}